
.card-header {
    background-color: var(--secondary) !important;
    color: white;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.card {
    border: 1px solid var(--secondary-lite) !important;
}

    .card:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: all 1s;
    }

.card-footer {
    background-color: whitesmoke !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
