.control-label {
    font-weight: bold !important;
    font-size: 12px !important;
    color: var(--secondary);
}

.action-panel {
    border: 1px solid var(--primary);
    border-radius: 4px;
    background: white;
}

