@{
    ViewBag.Title = "Home Page for ISM NWTraders";
}

<div class="container mt-5">
    <!-- A row is a bootstrap formatting element used to layout content.
        A row consists of 12 equal sized columns.
        We are using it to organize the visual appearance of our cards on a page.-->
    <div class="row row-cols-1 row-cols-md-3 g-5 align-items-center">

        <!--
            A card has a header, a body, and a footer.
            These are preformatted components for quick and easy display of multiple pieces of informaiton
            -->

        <div class="col">
            <div class="card h-100 rounded-2">

                <div class="card-header pt-4 h4 text-center">
                    Customers
                </div>

                <div class="card-body align-self-center my-5">
                    <div class="py-2 text-center">
                        Customer information
                    </div>

                    <div class="btn btn-light w3-hover-shadow py-1">
                        <i class="fa-solid fa-users fa-lg"></i>&nbsp;
                        @Html.ActionLink("NW Traders Customers", "Index", "Customers")
                    </div>
                </div>

                <div class="card-footer small">
                    Cilck on customers to browse and search North Wind Traders Customers
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 rounded-2">

                <div class="card-header pt-4 h4 text-center">
                    Products
                </div>

                <div class="card-body align-self-center my-5">
                    <div class="py-2 text-center">
                        Our Products
                    </div>
                    <div class="btn btn-light w3-hover-shadow py-1"
                         title=" Products will go here">
                        <i class="fa-solid fa-shopping-basket fa-lg"></i> &nbsp;
                        @Html.ActionLink("NW Traders Products", "Index", "Products")
                    </div>
                </div>

                <div class="card-footer small">
                    Clilck on Products to get information about the North Wind Traders Customers.
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 rounded-2">
                <div class="card-header pt-4 h4 text-center">
                    Orders
                </div>

                <div class="card-body align-self-center my-5">
                    <div class="py-2 text-center ">
                        Orders Information
                    </div>

                    <div class="btn btn-light w3-hover-shadow py-1"
                         title="Orders will go here">
                        <i class="fa-solid fa-table-list fa-lg"></i> &nbsp;
                        @Html.ActionLink("NW Traders Orders", "Index", "Orders")
                    </div>
                </div>

                <div class="card-footer small">
                    Clilck Orders for  information about orders you have placed and to place new orders.
                </div>
            </div>
        </div>

    </div>
</div>